@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* family_font = Roboto", sans-serif */
/* font-family: "Montserrat", sans-serif; */

body{
    background-color: rgb(206, 204, 202);
}
header .logo{
    position: absolute;
    top:10px;
    left:10px;
    font-family: "Playfair Display", serif;
    font-size: 33px;
    padding: 10px;
    color:rgb(225, 12, 12);
}
header .backImg{
    width:100%;
    height:50em;
    position: block;
}
header .cell{
    background-color: whitesmoke;
    position: absolute;
    padding:20px;
    top:230px;
    left:220px;
    width:1000px;
    height:480px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
header .cityImg{
    position: absolute;
    padding:20px;
    top:220px;
    left:480px;
}

header .p1{
    font-family: "Roboto", sans-serif;
    position: absolute;
    top:300px;
    left:230px;
    font-size:33px;
}
header .p1 .line1{
    display: block;
    margin-bottom:10px;
}
header .p1 .line2{
    display: block;
}

header .btn1{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: rgb(244, 24, 24);
    height: 10px;
    text-decoration: none;
    top:630px;
    left:270px;
}
header .btn1:hover{
    background-color: rgb(188, 10, 10);
}

header .p2{
    font-family: "Roboto", sans-serif;
    position: absolute;
    top:420px;
    left:230px;
    font-size:20px;
}
header .p2 .line3{
    display: block;
}
header .p2 .line4{
    display: block;
}

header .btn3{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color:black;
    background-color: white;
    height: 10px;
    text-decoration: none;
    top:52px;
    left:1230px;
}
header .btn3:hover{
    color:white;
    background-color:black;
}

header .btn2{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: black;
    background-color:white;
    height: 10px;
    text-decoration: none;
    top:52px;
    left:1000px;
}
header .btn2:hover{
    color:antiquewhite;
    background-color: rgb(73, 73, 230);
}

.rateCell{
    background-color:rgb(153, 10, 10);
    padding: 20px;
    width: 700px;
    height:500px;
    top:840px;
    left:670px;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}
.rateCell .p3{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top:20px;
    left:90px;
    font-size:27px;
    color:white;
}


.rateCell .btn4{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: rgb(198, 13, 13);
    height: 10px;
    text-decoration: none;
    top:175px;
    left:80px;
}
.rateCell .btn4:hover{
    background-color: rgb(244, 24, 24);
}

.rateCell .p3 .line7{
    position: absolute;
    top:250px;
    left:5px;
}
.rateCell .p3 .line8{
    position: absolute;
    top:240px;
    left:500px;
    font-size:40px;
    color:rgb(47, 221, 47);
}

.rateCell .p3 .line10{
    position: absolute;
    top:355px;
    left:5px;
}

.rateCell .p3 .line9{
    position: absolute;
    top:355px;
    left:500px;
    font-size:40px;
    color:rgb(47, 221, 47);
}

.partImg{
    position: absolute;
    top:850px;
}

.rateCell .p3 .line11{
    position: absolute;
    top:35px;
    left:5px;
    font-size:10px;
}

.rateCell .p3 .line12{
    position: absolute;
    top:35px;
    left:136px;
    font-size:10px;
}

.rateCell .p3 .line12 a:visited{
    color:green;
}

.calc{
    background-color:rgb(162, 162, 162);
    padding: 20px;
    width: 400px;
    height:500px;
    top:840px;
    left:130px;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}

.calc .amountL{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top:140px;
    font-size:20px;
}
.calc .amount {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 27px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    position: absolute;
    top:137px;
    left:250px;
  }
  
.calc .amount:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
.calc .amount:hover {
    outline: 1px solid lightgrey;
  }

.calc .downL{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top:200px;
    font-size:20px;
}

.calc .down {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 27px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    position: absolute;
    top:197px;
    left: 250px;
  }
  
.calc .down:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
.calc .down:hover {
    outline: 1px solid lightgrey;
  }

.calc p{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    font-size:30px;   
}

.calc .annualL{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top:260px;
    font-size:20px;
}

.calc .interest {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 27px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    position: absolute;
    top:257px;
    left:250px;
  }
  
.calc .interest:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
.calc .interest:hover {
    outline: 1px solid lightgrey;
  }

.calc .periodL{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top:320px;
    font-size:20px;
}

.calc .slc{
    background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top:320px;
  left:250px;  
}

.calc .btnCalc{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: black;
    background-color:white;
    height: 10px;
    top:355px;
    left:20px;
}
.calc .btnCalc:hover{
    color:antiquewhite;
    background-color: rgb(244, 24, 24);
}
.calc .resText{
    position: absolute;
    top:400px;
    font-family: "Montserrat", sans-serif;
}

.hidden{
    display: none;
}

.calc .applyAfterCalc{
    position: absolute;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-family:"Roboto", sans-serif;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: black;
    background-color:red;
    height: 10px;
    top:355px;
    left:240px;
}
.calc .applyAfterCalc:hover{
    color:antiquewhite;
    background-color: rgb(244, 24, 24);
}